# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List some of the popular languages that Data Scientists use
* List some of the commonly used libraries used by Data Scientists
* Create a single column table indicating three development environment open source tools used in data science
* Create a code cell to multiply and add numbers
* Create code cell to write an expression that converts 200 minutes into hours.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* TensorFlow
* Pandas
* SciKit-Learn

| Data Science Tools |
--------------------
|Spyder|
|JupyterLab|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Imtiaz Ahmed